[Version]
Signature   = "$WINDOWS NT$"
Class       = Extension
ClassGuid   = {e2f84ce7-8efa-411c-aa69-97454ca4cb57}
Provider    = %ProviderName%
ExtensionId = {@@EXTENSION_ID@@}
DriverVer   = 08/19/2026,1.0.0.0
CatalogFile = VoxveilApoExtension.cat
PnpLockDown = 1

[Manufacturer]
%MfgName% = DeviceExtensions,NTamd64.10.0...22621

[DeviceExtensions.NTamd64.10.0...22621]
%Device.ExtensionDesc% = DeviceExtension_Install,@@HARDWARE_ID@@

[DeviceExtension_Install]

[DeviceExtension_Install.Components]
AddComponent = VoxveilApo,,Apo_AddComponent

[Apo_AddComponent]
ComponentIDs = VEN_VXV&CID_APO
Description = "Voxveil Audio Processing Object"

[DeviceExtensions.I.APO]
AddReg = APO.I.Association0.AddReg

[APO.I.Association0.AddReg]
HKR,FX\0,%PKEY_FX_Association%,,%KSNODETYPE_ANY%
HKR,FX\0,%PKEY_CompositeFX_StreamEffectClsid%,0x00010000,%VOXVEIL_SFX_CLSID%
HKR,FX\0,%PKEY_SFX_ProcessingModes_Supported_For_Streaming%,%REG_MULTI_SZ%,%AUDIO_SIGNALPROCESSINGMODE_DEFAULT%,%AUDIO_SIGNALPROCESSINGMODE_MEDIA%,%AUDIO_SIGNALPROCESSINGMODE_MOVIE%

[DeviceExtension_Install.Interfaces]
AddInterface = %KSCATEGORY_AUDIO%, %REFERENCE_STRING%, DeviceExtensions.I.APO
AddInterface = %KSCATEGORY_TOPOLOGY%, %REFERENCE_STRING%, DeviceExtensions.I.APO

[Strings]
MfgName              = "Voxveil"
ProviderName         = "Voxveil"
Device.ExtensionDesc = "Voxveil active render endpoint APO extension"
REFERENCE_STRING     = "@@REFERENCE_STRING@@"
VOXVEIL_SFX_CLSID    = "{F3F2A99F-8FB7-4B88-949E-448BF8A05221}"
PKEY_FX_Association  = "{D04E05A6-594B-4FB6-A80D-01AF5EED7D1D},0"
PKEY_CompositeFX_StreamEffectClsid = "{D04E05A6-594B-4fb6-A80D-01AF5EED7D1D},13"
PKEY_SFX_ProcessingModes_Supported_For_Streaming = "{D3993A3F-99C2-4402-B5EC-A92A0367664B},5"
KSNODETYPE_ANY       = "{00000000-0000-0000-0000-000000000000}"
KSCATEGORY_AUDIO     = "{6994AD04-93EF-11D0-A3CC-00A0C9223196}"
KSCATEGORY_TOPOLOGY  = "{DDA54A40-1E4C-11D1-A050-405705C10000}"
REG_MULTI_SZ         = 0x00010000
AUDIO_SIGNALPROCESSINGMODE_DEFAULT = "{C18E2F7E-933D-4965-B7D1-1EEF228D2AF3}"
AUDIO_SIGNALPROCESSINGMODE_MEDIA   = "{4780004E-7133-41D8-8C74-660DADD2C0EE}"
AUDIO_SIGNALPROCESSINGMODE_MOVIE   = "{B26FEB0D-EC94-477C-9494-D1AB8E753F6E}"
